h1{
margin:5px;
font-size:2em;
font-weight:bold;
}
h2{
font-size:1.4em;
font-style:italic;
font-weight:bold;
margin:5px 0;
}
#resumecontainer{
background-color:#F5F5F5;
text-align:left;
padding:35px;
margin:50px auto;
min-width:300px;
max-width:600px;
position:relative;
}
